  * {
    margin: 0px;
    padding: 0px;
  }

  .navigation {
    height: 74px;
    font-family: Georgia;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .nav-laft {
    font-size: 20px;
  }

  .nav-right ul {
    display: flex;
    align-items: center;
    margin: 0 50px;
    font-size: 13px
  }

  .nav-right ul li {
    list-style: none;
    margin: 0 7px;

  }

  .nav-right ul li a {
    text-decoration: none;
    color: black;
  }
  header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

#blog {
    display: block;
}

#projects {
    display: none;
}

#about {
    display: none;
}



  .content {
    height: 205px;
    background-color: blue;
    display: flex;

  }

  .content-left {
    font-family: arial;

  }

  .content-right {}
  .content-right img{
    height:100px;
    border: 2px solid black;
    border-radius: 10px;
  }

  .footer {
    height: 50px;
    background-color: red;

  }